*{
  margin:0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;


}


html, body{
    
    background: #002942;
    height: 100%;
   
    
}
html{
  font-size: 62 5%;
}
body {
  font-size: 1.6rem;
}

.menusuperior{
  height: 6vh;
  width: 100%;
  background: #002942; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 3px 16px #000;
  position:fixed;
  top:0px;
}
.logo p{
  color: #fff;
  font-family: 'Galada', cursive;
  font-size: 1rem;
  padding-top: 4px;
  padding-left: 5vw;
  
}

.link{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Galada', cursive;
  font-size: 1rem;
  padding-right: 5vw;
  padding-top: 4px;
  
  
  
}
nav ul{
  display: flex;
  justify-content: center;
  gap :5px;
}
nav ul li{
 list-style: none;
  
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  font-size: 1rem;
}
nav ul li a:hover{
  background-color: #fff;
  opacity: 0.2;
  color: #002942;
  transition: 1s;
  transition-delay: 0.s;
  
  
}


 /* ##################################
main
   ################################### */
.main{
  background: #green ;
  height: 100%;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
 
  
  
  
  
  
  
  
}

.tit{
  
  height: auto;
  width: auto;
  background: #gray;
  display: flex;
  align-content:center; 
  justify-content: center;
 
  
  
  
}

.title{
 
  width: 50%;
  background: yellow; /*#002942;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
 
  
  

  
  
  
}

.title2{
  
  width: 50%;
  background: yellow;
  display: flex;
  
  flex-direction: column;
  justify-content: flex-start;
  
  
}

h2{
  color: #000;
  font-size: 2.6rem;
  background:#fff;
  height: auto;
  
}
.texto{
  color: #000;
  font-size: 1rem;
  
  width: 100%;
  background: #fff;
  
  
  
}
.img{
  width: 48%;
  background: red; /*#002942;*/
  display: flex;
  flex-direction: column;
  object-fit: cover;
  /*justify-content: center;   */
  
 
}

/*imgFundo{
  height: auto;*/
  

/* ##################################
  footer 
  ################################### */

#footer{
  height: 6vh;
  width: 100%;
  background: #002942; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #000;
  box-shadow: 0px 3px 16px #000;
  position: fixed;
  bottom: 0;
  
 }

 .list-link {
   list-style: none;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   width: 50vw;
   height: 6vh;

}


@media (max-width:690px){
  
    h2{
    font-size: 1.6rem;
      
    }
    
   p{
    font-size: 0.9rem;
  
  }
  
}

@media (max-width:535px){
    .tit{
       display: flex;
       flex-direction: column;
       
       align-items:center;
      } 
}
  
@media (max-width:535px){
  .title{
        width: 100%;
        }
  .title2{
        width: 100%;
  }

    
}

@media (max-width:760px){
  .main{
  
  
  background: red; /*#002942;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  
  }
  

}

@media (max-width:760px){
    .tit{
     display: flex;
     flex-direction: column;
     align-content: center;
  
}
}

@media (max-width:760px){
  .texto{
  width: 100%;
  background: red; /*#002942;*/
  display: flex;
  flex-direction: column;
  
  }
  }
  
@media (max-width:760px){
  .img{
  width: 100%;
  background: red; /*#002942;*/
  display: flex;
   flex-direction: flex-start; 
  /*flex-direction: column; */
  }
  }
