*{
  margin:0;
  background: #191919;
}
a{
  text-decoration: none;
  color:#fff;
  
}
.cabecalho{
  background: #000;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background: #000;
  height: 45px;
  width: 45px;
  background: red;
  border-radius: 50px;
  
}

img{
  height: 45px;
  width: 45px;
  border-radius:50px;
}
.nome{
  font-size: 22px;
}

.title{
  width: 80px;
  color:#fff;
  
}
.links{
  width: 80px;
  
  
}
.list{
  display:flex;
  padding: 5px;
  gap: 5px;
  
  }
    